<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- METAS -->
    <meta name="og:keywords" content="mydiscord">
    <meta name="og:description" content="A website to round Discord discriminator, used by MyDiscord: https://github.com/CantCode023/MyDiscord">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/789852217737084968/924202907107201034/unknown.png">
    <meta property="og:title" content="Round Discriminator">

    <title>Round Discriminator</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <textarea placeholder="Discriminator here" class="disc" id="disc"></textarea>
    <br>
    <button class="round" id="round">Round</button>

    <script src="js/script.js"></script>
</body>
</html>